.users {
  .row {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.admin {
      background-color: var(--color-yellow-2) !important;
      color: var(--color-dark-9) !important;
    }
  }
}
