.users {
  .list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .item {
      display: flex;
      gap: 1rem;
      background-color: var(--bg);
      padding: 1rem 2rem;
    }
  }
}
