.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .license {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: var(--inv-bg);
    color: var(--bg-main);
    font-weight: bold;
    text-align: center;
  }
}
