
.hotels {
  display: flex;
  flex-direction: column;
  gap: 1rem;


  .row {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;

    &.selected {
      background-color: var(--text-0-c) !important;
      color: var(--text-2-bg) !important;
      font-weight: bold;
    }
  }
}
.icon {
  height: 2rem;
}