.hotels {
  .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .hotel {
      display: flex;
      flex-direction: row;
      background-color: var(--text-2-bg);
      border-radius: 1rem;
      height: 13rem;

      .header {
        display: flex;
        gap: 1rem;
        background-color: var(--text-3-bg);
        //padding: 2rem ;
        border-radius: 1rem 0 0 1rem;
        //justify-content: center;
        align-items: center;
        width: 30rem;
        position: relative;
        overflow: hidden;

        .gradient {
          width: 100%;
          height: 100%;
          position: absolute;
          background: rgb(2,0,36);
          background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,0.6628852224483543) 0%, rgba(27,27,27,0.5816527294511555) 38%, rgba(83,83,83,0) 100%);
          z-index: 0;
        }

        .owner {
          z-index: 1;
          color: white;
          font-weight: bold;
          position: absolute;
          right: 0;
          bottom: 0;
          padding: .5rem 1.5rem;
          text-shadow: 0 0 .4rem #000;
        }
        .logo {
          width: 12.8rem;
          height: 12.8rem;
          z-index: 1;
        }
      }
      .content {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        padding: 2rem ;

        .contentItem {
          text-align: center;
          display: flex;
          flex-direction: row;
          gap: 1rem;
          justify-content: space-between;

          .contentHeader {
            display: flex;
            text-align: center;
            justify-content: center;
            gap: 1rem;
            line-height: 4rem;
          }
        }
      }
    }
  }
}
