@import "../../../../../shared/styles/consts.module";

.selectedForm {
  padding: 2rem;
  background-color: var(--text-2-bg);
  border-radius: 1rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    justify-content: space-between;

    .icon {
      height: 2rem;
      cursor: pointer;
    }
  }
  .formRow {
    display: flex;
    gap: 1rem;
  }
  .actions {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }
}
