@import "../../shared/styles/consts.module";

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  .title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 2.2rem;
  }
}

.link {
  display: block;
  margin-top: auto;
  padding-top: 2rem;
  text-align: center;
}
